{% extends 'base.html.twig' %}

{% block title %}Nos logements{% endblock %}

{% block body %}
    <section class="container home-content">
    <h1>Nos chambres</h1>


        <h2>Découvrez nos chambres</h2>
        <div class="grid grid-rooms">
{#            insertion d'un template pour l'affichage des chambre dans la boucle for#}
            {% for accomodation in accomodations %}
                {% include 'accomodation/_oneBlock.html.twig' %}
            {% endfor %}

        </div>


{#    <a href="{{ path('accomodation_new') }}">Create new</a>#}
        </section>
{% endblock %}
