{% extends 'base.html.twig' %}

{% block title %}Creation de compte{% endblock %}
{% block section %}<section class="container room-content">{% endblock %}
{% block body %}
    <h1>Créer un compte</h1>

    {{ include('user/_form.html.twig') }}

{% endblock %}
